DataFactory/pipeline/PL_Incremental_Employee_Copy.json
{
	"name": "PL_Incremental_Employee_Copy",
	"properties": {
		"activities": [
			{
				"name": "Source_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(datetimeAdded) as MaxDateTimeAdded from dbo.employee(nolock)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SourceDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Target_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(datetimeadded) as MaxDateTimeAdded from dbo.employee(nolock)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "TargetDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Employee_Data_Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Source_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Target_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select FirstName,LastName,DateTimeAdded from dbo.employee where datetimeadded >'@{activity('Target_Lookup').output.firstrow.MaxDateTimeAdded}'\nand datetimeadded<='@{activity('Source_Lookup').output.firstrow.MaxDateTimeAdded}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TargetDS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}